<body id="overrider">

    <table class="table table-hover">
        <thead  class="thead-dark">
            <tr>
                <th scope="col">BRAND</th>
                <th scope="col">MODEL</th>
                <th scope="col">PRODUCTION YEAR</th>
                <th scope="col">NUM. OF SEATS</th>
                <th scope="col">VEHICLE TYPE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of allCars">
                <td>{{car.carMaker}}</td>
                <td>{{car.carModel}}</td>
                <td>{{car.productionYear | date: 'short'}}</td>
                <td>{{car.numberOfSeats}}</td>
                <td>{{car.vehicleType}}</td>
                <td><button class="btn btn-success" (click)="drive()">
                    DRIVE
                </button></td>
            </tr>
        </tbody>

    </table>

</body>
