<div style="margin-top: 2%;">
    <br>
    <app-ride-filter state=0></app-ride-filter>
    <br>

    <table id="overrider" class="table table-hover" >
        <tbody>
            <tr *ngFor="let company of companiesService.companies">
                <td><img class="imageTest" src={{company.image}}></td>
                <td>{{company.name}}</td>
                <td>{{company.promoDescription}}</td>
                <td><app-rating-star [rating]="company.rating" rateOrShow="1"></app-rating-star></td>
                <td>
                    <button class="btn btn-success" routerLink="/ride/{{company.id}}/details">Details</button>
                    <button *ngIf="company.userID==userService.loggedUser.id" class="btn btn-success" (click)="updateCompany(company)">Update</button>
                    <button *ngIf="userService.loggedUser.role=='Administrator'" class="btn btn-success" (click)="deleteCompany(company.id)">Remove</button>
                </td>
            </tr>
        </tbody>
        <tr id="add">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button *ngIf="userService.loggedUser.role=='Administrator'" class="btn btn-success" id="add" (click)="addCompany()">
                    NEW COMPANY
                </button>
            </td>
        </tr>
        <tr id="add">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button  class="btn btn-success" id="add" routerLink="/showLocation">
                    SHOW LOCATIONS
                </button>
            </td>
        </tr>
    </table>
</div>