<form #form="ngForm" autocomplete="off">
    <table class="center">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td rowspan="8">
                <img src="assets/Portrait_Placeholder.png">
            </td>
            <td>
                <input name="Username" [(ngModel)]="service.formData.username" class="form-control" placeholder="Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="Password" [(ngModel)]="service.formData.password" class="form-control" placeholder="Password" required>
            </td>
        </tr>
<!--
            <tr>
                <td>
                    <input name="image" type="file" [(ngModel)]="service.formData.image" class="form-control" placeholder="Choose profile picture" required>
                </td>
            </tr>
-->
        <tr>
            <td>
                <input name="Name" [(ngModel)]="service.formData.name" class="form-control" placeholder="Name" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Lastname" [(ngModel)]="service.formData.lastname" class="form-control" placeholder="Last name" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="City" [(ngModel)]="service.formData.city" class="form-control" placeholder="City" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="PhoneNumber" [(ngModel)]="service.formData.phoneNumber" class="form-control" placeholder="Phone number" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Email" [(ngModel)]="service.formData.email" class="form-control" placeholder="Email" required>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success" id="add" (click)="saveChanges(form)">
                    SAVE CHANGES
                </button>
            </td>    
        </tr>
    </table>
</form>

    <hr>

    <div class="promo">
        Friends list:
    </div>

    <table class="center">
        <thead>
            <tr>
                <th id="friendsHeader">Username</th>
                <th id="friendsHeader">Name</th>
                <th id="friendsHeader">Last name</th>
                <th id="friendsHeader">Requests</th>
            </tr>
        </thead>
        <tr>
            <td>
                asd
            </td>
            <td>
                asd
            </td>
            <td>
                asd
            </td>
            <td>
                <button class="btn btn-success" id="pending">
                    ACCEPT
                </button>
                <button class="btn btn-success" id="pending">
                    REJECT
                </button>
            </td>
        </tr>
        <tr>
            <td>
                asd
            </td>
            <td>
                asd
            </td>
            <td>
                asd
            </td>
        </tr>
        <tr>
            <td>
                asd
            </td>
            <td>
                asd
            </td>
            <td>
                asd
            </td>
        </tr>
    </table>

  

