<form #form="ngForm" autocomplete="off">
    <table class="center">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td rowspan="8">
                <img src="assets/Portrait_Placeholder.png">
            </td>
            <td>
                <input name="Username" [(ngModel)]="service.formData.userName" class="form-control" placeholder="Username" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="Password" [(ngModel)]="service.formData.password" class="form-control" placeholder="Password" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Name" [(ngModel)]="service.formData.name" class="form-control" placeholder="Name" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Lastname" [(ngModel)]="service.formData.lastname" class="form-control" placeholder="Last name" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="City" [(ngModel)]="service.formData.city" class="form-control" placeholder="City" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="PhoneNumber" [(ngModel)]="service.formData.phoneNumber" class="form-control" placeholder="Phone number" required>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Email" [(ngModel)]="service.formData.email" class="form-control" placeholder="Email" required>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success" id="add" (click)="saveChanges(form)">
                    SAVE CHANGES
                </button>
            </td>    
        </tr>
    </table>
</form>

    <hr>

    <div class="promo">
        Friends list:
    </div>

    <table class="center">
        <thead>
            <tr>
                <th id="friendsHeader">Username</th>
                <th id="friendsHeader">Full name</th>
                <th id="friendsHeader">Action</th>
            </tr>
        </thead>
            
        <tr *ngFor="let request of service.loggedUser.receivedRequests">
            <ng-container *ngIf="request.status == 1">
                <td>{{request.user.userName}}</td>
                <td>{{request.user.fullName}}</td>
                <td>
                    <button (click)="removeFriend(request.user.id)" class="btn btn-success" id="accepted">
                        REMOVE
                    </button>
                </td>
            </ng-container>
        </tr>
        
        <tr *ngFor="let request of service.loggedUser.sentRequests">
            <ng-container *ngIf="request.status == 1">
                <td>{{request.friend.userName}}</td>
                <td>{{request.friend.fullName}}</td>
                <td>
                    <button (click)="removeFriend(request.friend.id)" class="btn btn-success" id="accepted">
                        REMOVE
                    </button>
                   
                </td>
            </ng-container>
        </tr>

    </table>

    <div class="promo">
        Pending requests:
    </div>

    <table class="center">
        <thead>
            <tr>
                <th id="friendsHeader">Username</th>
                <th id="friendsHeader">Full name</th>
                <th id="friendsHeader">Action</th>
            </tr>
        </thead>

        <tr *ngFor="let request of service.loggedUser.receivedRequests">
            <ng-container *ngIf="request.status == 0">
                <td>{{request.user.userName}}</td>
                <td>{{request.user.fullName}}</td>
                <td>

                        <button (click)="acceptRequest(request.user.id)" class="btn btn-success" id="pending">
                            ACCEPT
                        </button>
                        <button (click)="rejectRequest(request.user.id)" class="btn btn-success" id="pending">
                            REJECT
                        </button>
                </td>
            </ng-container>
        </tr>
        
        <tr *ngFor="let request of service.loggedUser.sentRequests">
            <ng-container *ngIf="request.status == 0">
                <td>{{request.friend.userName}}</td>
                <td>{{request.friend.fullName}}</td>
                <td>
                    *request sent*
                </td>
            </ng-container>
        </tr>

    </table>

    <div class="promo">
        Need a friend ?
    </div>

    <table class="center">
        <thead>
            <tr>
                <th id="friendsHeader">Username</th>
                <th id="friendsHeader">Full name</th>
                <th id="friendsHeader">Action</th>
            </tr>
        </thead>

        <tr *ngFor="let potentialFriend of service.allUsers">
            <td>{{potentialFriend.userName}}</td>
            <td>{{potentialFriend.fullName}}</td>
            <td>
                <button (click)="sendRequest(potentialFriend.id)" class="btn btn-success" id="pending">
                    SEND REQUEST
                </button>
            </td>
        </tr>
    </table>

  
    
    

