<body id="overrider">

    <table class="table table-hover">
        <thead  class="thead-dark">
            <tr>
                <th scope="col">TAKE OFF/LANDING TIME</th>
                <th scope="col">TRANSFERS</th>
                <th scope="col">DURATION</th>
                <th scope="col">LENGTH (KM)</th>
                <th scope="col">PRICE (EUR)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of allFlights">
                <td>{{flight.flyOffTime | date: 'short'}} <b>-></b> {{flight.landingTime | date: 'short'}}</td>
                <td>{{flight.numberOfTransfers}}</td>
                <td>{{flight.fullFlightTime}}</td>
                <td>{{flight.flightLength}}</td>
                <td>{{flight.price}}</td>
                <td><button class="btn btn-success" (click)="book()">
                    B00K
                </button></td>
            </tr>

        </tbody>

        <tr id="add">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-success" id="add" routerLink="/flight/companyId/register">
                    CREATE NEW FLIGHT
                </button>
            </td>
        </tr>
        
    </table>

</body>
