
    <table id="overrider" class="table table-hover">
        <thead  class="thead-dark">
            <tr>
                <th scope="col">TAKE OFF/LANDING TIME</th>
                <th scope="col">TRANSFERS</th>
                <th scope="col">DURATION</th>
                <th scope="col">LENGTH (KM)</th>
                <th scope="col">PRICE (EUR)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>{{flight.flyOffTime | date: 'short'}} <b>-></b> {{flight.landingTime | date: 'short'}}</td>
                <td>{{flight.numberOfTransfers}}</td>
                <td>{{flight.fullFlightTime}}</td>
                <td>{{flight.flightLength}}</td>
                <td>{{flight.price}}</td>
                <td><button class="btn btn-success"routerLink="/flight/{{flight.id}}/book">
                    B00K
                </button></td>
            </tr>
        </tbody>        
    </table>

