<body id="overrider">

    <table class="table table-hover">
        <thead  class="thead-dark">
            <tr>
                <th scope="col">VREME POLETANJA/SLETANJA</th>
                <th scope="col">BROJ PRESEDANJA</th>
                <th scope="col">TRAJANJE LETA</th>
                <th scope="col">DUŽINA LETA (KM)</th>
                <th scope="col">CENA (EUR)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of allFlights">
                <td>{{flight.flyOffTime | date: 'short'}} <b>-></b> {{flight.landingTime | date: 'short'}}</td>
                <td>{{flight.numberOfTransfers}}</td>
                <td>{{flight.fullFlightTime}}</td>
                <td>{{flight.flightLength}}</td>
                <td>{{flight.price}}</td>
                <td><button class="btn btn-success" (click)="book()">
                    B00K
                </button></td>
            </tr>
        </tbody>

        <!--
            Informacije koje se prikazuju:
                vreme poletanja i sletanja, 
                broj presedanja, 
                ukupno vreme trajanja leta, 
                naziv aviokompanije koja obavlja let, 
                cena, 
                itd.

            Properties:
                company: string;
                flyOffTime: DatePipe;
                landingTime: DatePipe;
                fullFlightTime: string;
                flightLength: number;
                numberOfTransfers: number;
                locationOfTransfers: Array<string>;
                price: number;
        -->
    </table>

</body>
