<body id="overrider" >

<table class="table table-hover">
    <!--<thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">COMPANY</th>
            <th scope="col">PROMO</th>
            <th scope="col">RATING</th>
        </tr>
    </thead>-->
    <tbody>
        <tr *ngFor="let company of filteredCompanies">
            <td><img class="imageTest" src={{company.image}}></td>
            <td>{{company.name}}</td>
            <td>{{company.promoDescription}}</td>
            <td>{{company.rating}}</td>
        </tr>
    </tbody>
</table>

</body>