<div style="margin-top: 2%;">
    <br>
    <app-flight-filter></app-flight-filter>
    <br>

    <table id="overrider" class="table table-hover" >
        <tbody>
            <tr *ngFor="let company of companiesService.companies">
                <td><img class="imageTest" src={{company.image}}></td>
                <td>{{company.name}}</td>
                <td>{{company.promoDescription}}</td>
                <td><app-rating-star [rating]="company.rating"></app-rating-star></td>
                <td>
                    <button class="btn btn-success" routerLink="/flight/{{company.id}}/details">Details</button>
                    <button *ngIf="service.loggedUser.role == 'Administrator';" class="btn btn-success" (click)="deleteCompany(company.id)">Remove</button>
                </td>
            </tr>
        </tbody>
        <tr id="add">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button  class="btn btn-success" id="add" routerLink="/newFCompany">
                    NEW COMPANY
                </button>
            </td>
        </tr>
    </table>
</div>