.bg {
    background-image: url("src/assets/background.png");
    margin: 0;
    height: 100%;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 240px;
    height: auto;
    float: left;
    height: 88.23;
    background-color: transparent;
}

footer {
  position: fixed;
  color: white;
  font-family: "Oswald";
  font-style: italic;
  bottom: 0;
  width: 100%;
  background-color: rgba(52,52,52,0.85);
}

  footer .container1 {
    float: left;
    margin-left: 50px;
  }

  footer .container2 {
    float: left;
    margin-left: 500px;
  }

  footer .container3 {
    float: right;
    margin-right: 150px;
  }