footer {
  position: fixed;
  color: white;
  font-family: "Oswald";
  font-style: italic;
  bottom: 0;
  width: 100%;
  background-color: rgba(52,52,52,0.85);
}

  footer .container1 {
    float: left;
    margin-left: 50px;
  }

  footer .container2 {
    float: left;
    margin-left: 500px;
  }

  footer .container3 {
    float: right;
    margin-right: 150px;
  }