<form #form="ngForm" autocomplete="off">

    <table class="center">

        <tr>
            <td>
                <input name="Id" class="form-control" placeholder="Company ID" required>
            </td>
        </tr>

        <tr>
            <td>
                <input name="Name" class="form-control" placeholder="The company's name" required>
            </td>
        </tr>

        <tr>
            <td>
                <input name="Address" class="form-control" placeholder="The company address" required>
            </td>
        </tr>

        <tr>
            <td>
              <input name="image" type="file" class="form-control" placeholder="Choose company image" required>
            </td>
        </tr>

        <tr>
            <td>
                <input name="promoDescription" class="form-control" placeholder="A few words about the company" required>
            </td>
        </tr>

        <tr>
            <td>
                <select
                    name="carCompanyInfo">
                        <option
                            *ngFor="let option of cars">
                                    {{ option.carMaker }} {{ option.carModel }} 
                                    <!--
                                        OVDE BI TREBALO DA SE ISPISU SVI AUTI IZ BAZE :(
                                    -->
                        </option>
                </select>
            </td>
        </tr>
        

        <tr>
            <td>
                <button class="btn btn-success" id="add" (click)="addRideCompany()">
                    CREATE
                </button>
            </td>
        </tr>
  
    </table>
    
  </form>

