<body>
    <div id="bg">
    <img class="links" src="assets/facebooklogo.png" (click)="onClickSocial(1)">
    <img class="links" src="assets/twitterlogo.png" (click)="onClickSocial(2)">
    <img class="links" src="assets/iglogo.png" (click)="onClickSocial(3)">
    <div *ngIf="service.loggedUser.role == 'NotLoggedIn'; else LoggedInBlock" id="currentUser">Not logged in!</div>
    <ng-template #LoggedInBlock>
        <div id="currentUser">
            Logged in as {{service.loggedUser.userName}} <button (click)="logOut()">Log out.</button>
        </div>
    </ng-template>
    </div>
</body>