<img id="logo" src="assets/logo1-3.png">
<div class="topnav">
    <a routerLink = "flightCompanies" routerLinkActive="active"  >FLIGHTS</a>
    <a routerLink = "rideCompanies" routerLinkActive="active"  >RIDES</a>
    <a routerLink = "profilePage">RESERVATIONS</a>
    <!--
    <div *ngIf="loggedIn == false; else loggedInBlock">
    -->
        <a (click)="test()" data-toggle="modal" data-target="#myModal"> MY PROFILE</a>
    <!--
        </div>
    <ng-template #loggedInBlock>
        <a routerLink = "profilePage">MY PROFILE</a>
    </ng-template>
    -->
</div>
