<body id="overrider">
    <br>
    <app-ride-filter state=1></app-ride-filter>
    <br>
    <table class="table table-hover">
        <thead  class="thead-dark">
            <tr>
                <th scope="col">BRAND</th>
                <th scope="col">MODEL</th>
                <th scope="col">PRODUCTION YEAR</th>
                <th scope="col">NUM. OF SEATS</th>
                <th scope="col">VEHICLE TYPE</th>
                <th scope="col">LOCATION</th>
                <th scope="col">PRICE</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of this.service.rides">
                <td>{{car.carMaker}}</td>
                <td>{{car.carModel}}</td>
                <td>{{car.productionYear}}</td>
                <td>{{car.numberOfSeats}}</td>
                <td>{{car.carType}}</td>
                <td>{{car.location.name}}/{{car.location.address}}</td>
                <td>{{car.price}}</td>

                <td *ngIf="quickRent==0;"><button class="btn btn-success" (click)="book(car)">
                    BOOK
                </button>
                </td>
                <td *ngIf="quickRent==1;">
                    <button class="btn btn-success" (click)="bookQuick(car)">
                <td>
                <button class="btn btn-success" (click)="updateRide(car)">
                    EDIT
                </button>
                </td>
            </tr>
        </tbody>
    </table>

</body>
