<form #form="ngForm" autocomplete="off">

    <table class="center">

    

        <tr>
            <td>
                <input name="Name" #Name="ngModel" class="form-control" [(ngModel)]="service.formData.name" placeholder="The company's name" required>
            </td>
        </tr>

        <tr>
            <td>
                <input name="Address" #Address="ngModel" class="form-control" [(ngModel)]="service.formData.address" placeholder="The company address" required>
            </td>
        </tr>

        <tr>
            <td>
              <input #file name="image" type="file" class="form-control" accept='image/*' (change)="onSelectFile($event)" placeholder="Choose company image" required>
              <img [src]="url" height="200"> <br/>
            </td>
        </tr>

        <tr>
            <td>
                <input name="promoDescription" #promoDescription="ngModel" class="form-control" [(ngModel)]="service.formData.promoDescription" placeholder="A few words about the company" required>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit" class="btn btn-success" id="add" (click)="addFCompany(form)">
                    CREATE
                </button>
            </td>
        </tr>
  
    </table>
    
  </form>
