/* You can add global styles to this file, and also import other style files
    background-image: linear-gradient(to bottom right, rgba(80,173,212,1), rgba(57,132,176,1)); */
html {
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-image: url("src/assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-footer {
    position: absolute;
    bottom: 0;
}